PyYAML
packaging==23.2
setuptools==68.0.0
wheel>=0.38.0
infinibatch
protobuf==3.20.*
timm
nltk
einops
transformers==4.26.1
mpi4py==3.1.5
opencv-python-headless==4.5.5.64
torch_kmeans
spacy==3.5.4
Cython==0.29.37
salesforce-lavis==1.0.2
positional-encodings==6.0.3
crfseg
protobuf==3.20.3
numpy==1.21.0